body{
	font-size: 0.8em;
	font-family: georgia, times, "times new roman", serif;
	background: #7DC73C url('Images/back.png') no-repeat;
	position: fixed;
	background-size: 100% auto;
	width: 99%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
	}


	
div.logo{
	width: 5%;
	height:5%;
	margin: 0%;
}
div.headerb{	
	height: 20%;
	background-color: white;
	width: 100%;
	position: absolute;
}
/*
	Dropdown menyen
*/
#cssmenu{ height:37px; display:block; padding:0%; margin-top:8%; padding:0%;  border:1px solid; border-radius:5px; width: 100%;} 
#cssmenu > ul {list-style:inside none; padding:0; margin:0;} 
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#cssmenu > ul > li > a{ outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#cssmenu > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#cssmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-tops:5px solid #fff; } 
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;} 
#cssmenu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; } 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;} 
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 
#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; } 
#cssmenu ul li > ul{width:200px;} 
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 

#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:#3e698c; background:linear-gradient( #3e698c 0%,#30576e 100%);} 

#cssmenu{border-color:#1b313d;} 
#cssmenu > ul > li > a{border-right:1px solid #1b313d; color:#fff;} 
#cssmenu > ul > li > a:after{border-color:#6696bd;} 
#cssmenu > ul > li > a:hover{background:#436f93;} 


audio {
   background:#30576e;
	padding-left: 5%;
	height:33px;
}
	
div.hoved{	
   
    margin-top: 1%;
    background-repeat: repeat-y;
	width: 99%;
	height:60%;
	margin: 0%;
}

div.footer{
	clear: both;
	padding: .5em 1em;
	border-top: 0.2em solid #333;
	text-align: right;
}